# Core
dash==0.28.5
dash-auth==1.1.2
dash-html-components==0.13.2
dash-core-components==0.34.0
dash-renderer==0.14.3
gunicorn==19.9.0
plotly==2.7.0

pillow==4.2.1
Flask==1.0.1
scipy==1.0.1
numpy==1.14.3
pandas==0.20.3
tensorflow==1.8.0
